<a href="https://colab.research.google.com/github/Krishnachatti/assignments-/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
employees_data = {
    'EmployeeID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['John Doe', 'Jane Smith', 'Emily Davis', 'Michael Brown', 'Jessica Wilson',
             'William Johnson', 'Linda Martinez', 'David Rodriguez', 'James Lee', 'Susan White'],
    'Age': [28, 34, 45, 50, 29, 31, 42, 36, 39, 26],
    'Department': [1, 2, 1, 3, 2, 3, 1, 4, 2, 4],
    'Salary': [75000, 82000, None, 105000, 62000, 93000, 115000, 68000, 72000, None],
    'DateOfJoining': ['2019-07-15', '2017-03-22', '2010-10-01', '2005-11-12', '2021-08-05',
                      '2018-06-19', '2006-04-25', '2020-01-14', '2015-09-30', '2023-05-10']
}

In [3]:
employees_df = pd.DataFrame(employees_data)

In [4]:
employees_df.to_csv('employees.csv', index=False)

In [5]:
departments_data = {
    'DepartmentID': [1, 2, 3, 4],
    'DepartmentName': ['Engineering', 'Marketing', 'Sales', 'HR'],
    'ManagerID': [101, 102, 103, 104]
}

In [6]:
departments_df = pd.DataFrame(departments_data)

In [7]:
departments_df.to_csv('departments.csv', index=False)

print("departments.csv has been created.")

departments.csv has been created.

In [8]:
emp=pd.read_csv('employees.csv')

In [9]:
dep=pd.read_csv('departments.csv')

In [10]:
emp.isnull().values.any()

np.True_

In [11]:
emp.isnull()

   EmployeeID   Name    Age  Department  Salary  DateOfJoining
0       False  False  False       False   False          False
1       False  False  False       False   False          False
2       False  False  False       False    True          False
3       False  False  False       False   False          False
4       False  False  False       False   False          False
5       False  False  False       False   False          False
6       False  False  False       False   False          False
7       False  False  False       False   False          False
8       False  False  False       False   False          False
9       False  False  False       False    True          False

In [12]:
emp.describe()

       EmployeeID        Age  Department         Salary
count    10.00000  10.000000   10.000000       8.000000
mean      5.50000  36.000000    2.300000   84000.000000
std       3.02765   7.916228    1.159502   18715.921412
min       1.00000  26.000000    1.000000   62000.000000
25%       3.25000  29.500000    1.250000   71000.000000
50%       5.50000  35.000000    2.000000   78500.000000
75%       7.75000  41.250000    3.000000   96000.000000
max      10.00000  50.000000    4.000000  115000.000000

In [13]:
emp.dropna(inplace=True)

In [14]:
dep.describe()

       DepartmentID   ManagerID
count      4.000000    4.000000
mean       2.500000  102.500000
std        1.290994    1.290994
min        1.000000  101.000000
25%        1.750000  101.750000
50%        2.500000  102.500000
75%        3.250000  103.250000
max        4.000000  104.000000

In [15]:
dep.dropna(inplace=True)

In [16]:
emp['DateOfJoining']=pd.to_datetime(emp['DateOfJoining'],format='%Y-%m-%d')

In [17]:
print(emp['DateOfJoining'])

0   2019-07-15
1   2017-03-22
3   2005-11-12
4   2021-08-05
5   2018-06-19
6   2006-04-25
7   2020-01-14
8   2015-09-30
Name: DateOfJoining, dtype: datetime64[ns]

In [18]:
emp['Salary']=pd.to_numeric(emp['Salary'],errors='coerce')

In [19]:
print(emp.dtypes)

EmployeeID                int64
Name                     object
Age                       int64
Department                int64
Salary                  float64
DateOfJoining    datetime64[ns]
dtype: object

In [20]:
from datetime import datetime,timedelta

In [21]:
today=datetime.today()

In [22]:
five_years_ago=today-timedelta(days=5*365)

In [23]:
print(five_years_ago)

2020-07-09 05:55:30.209877

In [24]:
filtered_emp=emp[(emp['DateOfJoining']<=five_years_ago)&(emp['Salary']>70000)]

In [25]:
print(filtered_emp)

   EmployeeID             Name  Age  Department    Salary DateOfJoining
0           1         John Doe   28           1   75000.0    2019-07-15
1           2       Jane Smith   34           2   82000.0    2017-03-22
3           4    Michael Brown   50           3  105000.0    2005-11-12
5           6  William Johnson   31           3   93000.0    2018-06-19
6           7   Linda Martinez   42           1  115000.0    2006-04-25
8           9        James Lee   39           2   72000.0    2015-09-30

In [26]:
emp['DepartmentID']=emp['Department']

In [27]:
emp.drop('Department',axis=1,inplace=True)

In [28]:
merged_df=pd.merge(emp,dep,on='DepartmentID',how='inner')

In [29]:
print(merged_df)

   EmployeeID             Name  Age    Salary DateOfJoining  DepartmentID  \
0           1         John Doe   28   75000.0    2019-07-15             1
1           2       Jane Smith   34   82000.0    2017-03-22             2
2           4    Michael Brown   50  105000.0    2005-11-12             3
3           5   Jessica Wilson   29   62000.0    2021-08-05             2
4           6  William Johnson   31   93000.0    2018-06-19             3
5           7   Linda Martinez   42  115000.0    2006-04-25             1
6           8  David Rodriguez   36   68000.0    2020-01-14             4
7           9        James Lee   39   72000.0    2015-09-30             2

  DepartmentName  ManagerID
0    Engineering        101
1      Marketing        102
2          Sales        103
3      Marketing        102
4          Sales        103
5    Engineering        101
6             HR        104
7      Marketing        102

In [30]:
avg_salary_by_department=merged_df.groupby('DepartmentName')['Salary'].mean()

In [31]:
print(avg_salary_by_department)

DepartmentName
Engineering    95000.0
HR             68000.0
Marketing      72000.0
Sales          99000.0
Name: Salary, dtype: float64

In [32]:
def calculate_tenure(joining_date):
    today=datetime.today()
    tenure=today-joining_date
    return tenure.days/365.25

In [33]:
merged_df['Tenure(Years)']=merged_df['DateOfJoining'].apply(calculate_tenure)

In [34]:
print(merged_df)

   EmployeeID             Name  Age    Salary DateOfJoining  DepartmentID  \
0           1         John Doe   28   75000.0    2019-07-15             1
1           2       Jane Smith   34   82000.0    2017-03-22             2
2           4    Michael Brown   50  105000.0    2005-11-12             3
3           5   Jessica Wilson   29   62000.0    2021-08-05             2
4           6  William Johnson   31   93000.0    2018-06-19             3
5           7   Linda Martinez   42  115000.0    2006-04-25             1
6           8  David Rodriguez   36   68000.0    2020-01-14             4
7           9        James Lee   39   72000.0    2015-09-30             2

  DepartmentName  ManagerID  Tenure(Years)
0    Engineering        101       5.982204
1      Marketing        102       8.295688
2          Sales        103      19.652293
3      Marketing        102       3.923340
4          Sales        103       7.052704
5    Engineering        101      19.203285
6             HR        104       5.481177
7      Marketing        102       9.771389

In [35]:
bins=[18,25,35,45,55,65]
labels=['18-25','26-35','36-46','47-55','56-65']
merged_df['Age Group']=pd.cut(merged_df['Age'],bins=bins,labels=labels,right=False)

In [36]:
pivot_table=pd.pivot_table(merged_df,values='Salary',index='DepartmentName',columns='Age Group',aggfunc='mean')

In [37]:
print(pivot_table)

Age Group         26-35     36-46     47-55
DepartmentName
Engineering     75000.0  115000.0       NaN
HR                  NaN   68000.0       NaN
Marketing       72000.0   72000.0       NaN
Sales           93000.0       NaN  105000.0

In [38]:
merged_df.to_csv('Merged_df.csv')
pivot_table.to_csv('pivot_table.csv')